# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Tests
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Linters
.mypy_cache/
.ruff_cache/

# MkDocs
site/

# Node
node_modules/
frontend/dist/

# Docker
*.log

# OS
.DS_Store
